body {
	background: #e6e6e6;
}

.bg-primary-custom {
	background: #00A170;
}
	
.banner {
	height: 93vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-size: cover;
	color: white;
}
.my-card {
	padding: 20px;
	background: #FFFFFF;
}

.mytable {
	background-color: #3fb0ac;
	background-color: #926AA6;
}
